In [33]:
# 복습 : 파이썬은 함수쓸때 리턴 안써도 된다 딴거는 쓴단다.
def moon_sun(x, y): 
    return x, y

In [27]:
def moon_sun2():
    print(0)
    # return None

In [36]:
moon_sun(1, 2)

(1, 2)

In [16]:
import dis

In [17]:
type(dis)

module

In [18]:
dir(dis)

['Bytecode',
 'COMPILER_FLAG_NAMES',
 'EXTENDED_ARG',
 'FORMAT_VALUE',
 'HAVE_ARGUMENT',
 'Instruction',
 '_Instruction',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_disassemble_bytes',
 '_disassemble_str',
 '_format_code_info',
 '_get_code_object',
 '_get_const_info',
 '_get_instructions_bytes',
 '_get_name_info',
 '_have_code',
 '_test',
 '_try_compile',
 '_unpack_opargs',
 'cmp_op',
 'code_info',
 'collections',
 'dis',
 'disassemble',
 'disco',
 'distb',
 'findlabels',
 'findlinestarts',
 'get_instructions',
 'hascompare',
 'hasconst',
 'hasfree',
 'hasjabs',
 'hasjrel',
 'haslocal',
 'hasname',
 'hasnargs',
 'io',
 'opmap',
 'opname',
 'pretty_flags',
 'show_code',
 'stack_effect',
 'sys',
 'types']

In [19]:
help(dis)

Help on module dis:

NAME
    dis - Disassembler of Python byte code into mnemonics.

CLASSES
    builtins.object
        Bytecode
    _Instruction(builtins.tuple)
        Instruction

    class Bytecode(builtins.object)
     |  The bytecode operations of a piece of code
     |
     |  Instantiate this with a function, method, string of code, or a code object
     |  (as returned by compile()).
     |
     |  Iterating over this yields the bytecode operations as Instruction instances.
     |
     |  Methods defined here:
     |
     |  __init__(self, x, *, first_line=None, current_offset=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __iter__(self)
     |
     |  __repr__(self)
     |      Return repr(self).
     |
     |  dis(self)
     |      Return a formatted view of the bytecode operations.
     |
     |  info(self)
     |      Return formatted information about the code object.
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  from_traceback(tb) from builtins.type
     |      Construct a Bytecode from the given traceback
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Instruction(_Instruction)
     |  Details for a bytecode operation
     |
     |  Defined fields:
     |    opname - human readable name for operation
     |    opcode - numeric code for operation
     |    arg - numeric argument to operation (if any), otherwise None
     |    argval - resolved arg value (if known), otherwise same as arg
     |    argrepr - human readable description of operation argument
     |    offset - start index of operation within bytecode sequence
     |    starts_line - line started by this opcode (if any), otherwise None
     |    is_jump_target - True if other code jumps to here, otherwise False
     |
     |  Method resolution order:
     |      Instruction
     |      _Instruction
     |      builtins.tuple
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  _disassemble(self, lineno_width=3, mark_as_current=False)
     |      Format instruction details for inclusion in disassembly output
     |
     |      *lineno_width* sets the width of the line number field (0 omits it)
     |      *mark_as_current* inserts a '-->' marker arrow as part of the line
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from _Instruction:
     |
     |  __getnewargs__(self)
     |      Return self as a plain tuple.  Used by copy and pickle.
     |
     |  __repr__(self)
     |      Return a nicely formatted representation string
     |
     |  _asdict(self)
     |      Return a new OrderedDict which maps field names to their values.
     |
     |  _replace(_self, **kwds)
     |      Return a new _Instruction object replacing specified fields with new values
     |
     |  ----------------------------------------------------------------------
     |  Class methods inherited from _Instruction:
     |
     |  _make(iterable, new=<built-in method __new__ of type object at 0x000000005D49C0D0>, len=<built-in function len>) from builtins.type
     |      Make a new _Instruction object from a sequence or iterable
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from _Instruction:
     |
     |  __new__(_cls, opname, opcode, arg, argval, argrepr, offset, starts_line, is_jump_target)
     |      Create new instance of _Instruction(opname, opcode, arg, argval, argrepr, offset, starts_line, is_jump_target)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from _Instruction:
     |
     |  opname
     |      Human readable name for operation
     |
     |  opcode
     |      Numeric code for operation
     |
     |  arg
     |      Numeric argument to operation (if any), otherwise None
     |
     |  argval
     |      Resolved arg value (if known), otherwise same as arg
     |
     |  argrepr
     |      Human readable description of operation argument
     |
     |  offset
     |      Start index of operation within bytecode sequence
     |
     |  starts_line
     |      Line started by this opcode (if any), otherwise None
     |
     |  is_jump_target
     |      True if other code jumps to here, otherwise False
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from _Instruction:
     |
     |  _fields = ('opname', 'opcode', 'arg', 'argval', 'argrepr', 'offset', '...
     |
     |  _source = "from builtins import property as _property, tupl..._itemget...
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.tuple:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __contains__(self, key, /)
     |      Return key in self.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __iter__(self, /)
     |      Implement iter(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.n
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __rmul__(self, value, /)
     |      Return self*value.
     |
     |  count(...)
     |      T.count(value) -> integer -- return number of occurrences of value
     |
     |  index(...)
     |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
     |      Raises ValueError if the value is not present.

FUNCTIONS
    code_info(x)
        Formatted details of methods, functions, or code.

    dis(x=None, *, file=None)
        Disassemble classes, methods, functions, generators, or code.

        With no argument, disassemble the last traceback.

    disassemble(co, lasti=-1, *, file=None)
        Disassemble a code object.

    disco = disassemble(co, lasti=-1, *, file=None)
        Disassemble a code object.

    distb(tb=None, *, file=None)
        Disassemble a traceback (default: last traceback).

    findlabels(code)
        Detect all offsets in a byte code which are jump targets.

        Return the list of offsets.

    findlinestarts(code)
        Find the offsets in a byte code which are start of lines in the source.

        Generate pairs (offset, lineno) as described in Python/compile.c.

    get_instructions(x, *, first_line=None)
        Iterator for the opcodes in methods, functions or code

        Generates a series of Instruction named tuples giving the details of
        each operations in the supplied code.

        If *first_line* is not None, it indicates the line number that should
        be reported for the first source line in the disassembled code.
        Otherwise, the source line information (if any) is taken directly from
        the disassembled code object.

    show_code(co, *, file=None)
        Print details of methods, functions, or code to *file*.

        If *file* is not provided, the output is printed on stdout.

    stack_effect(opcode, oparg=None, /)
        Compute the stack effect of the opcode.

DATA
    EXTENDED_ARG = 144
    HAVE_ARGUMENT = 90
    __all__ = ['code_info', 'dis', 'disassemble', 'distb', 'disco', 'findl...
    cmp_op = ('<', '<=', '==', '!=', '>', '>=', 'in', 'not in', 'is', 'is ...
    hascompare = [107]
    hasconst = [100]
    hasfree = [135, 136, 137, 138, 148]
    hasjabs = [111, 112, 113, 114, 115, 119]
    hasjrel = [93, 110, 120, 121, 122, 143, 154]
    haslocal = [124, 125, 126]
    hasname = [90, 91, 95, 96, 97, 98, 101, 106, 108, 109, 116, 127]
    hasnargs = []
    opmap = {'BEFORE_ASYNC_WITH': 52, 'BINARY_ADD': 23, 'BINARY_AND': 64, ...
    opname = ['<0>', 'POP_TOP', 'ROT_TWO', 'ROT_THREE', 'DUP_TOP', 'DUP_TO...

FILE
    c:\users\hangs\anaconda3\lib\dis.py

In [30]:
dis.dis(moon_sun)

  3           0 LOAD_CONST               1 (0)
              2 RETURN_VALUE

In [31]:
#parameter와 augument의 차이 : parameter는 함수 정의할때 쓰는 인자값, argument는 함수쓸때 쓰는 인자값

In [37]:
#parameter 나열 방식 > positional: 콤마로 이루어진건 투플인데, def moon_sun(x, y): return x, y 에서 moon_sun(1, 2)같이 순서 맞춰 주는것
    # keyword 방식 : moon_sun(y = 2, x = 1)과 같이 인자를 직접 넣어주는것

In [38]:
#Java에서 ... : 바리스트? 파이썬에서는 def moon_sun(x, y, *z): return x, y, z

In [43]:
def moon_sun(x, y, *z) :
    return x, y, z

In [44]:
moon_sun(1,23,4,5,6,74,"dff", ["dfdf"])

(1, 23, (4, 5, 6, 74, 'dff', ['dfdf']))

In [45]:
#만약 moon_sun(x, *y, z) 이러면 그냥하면 안되는데,*뒤에꺼 인자 z = 머시기 붙여주면 실행가능하다

In [50]:
#나는 무조건 keyword만 받게 하고 싶다. 이게 가능 한가?

In [51]:
def moon_sun(*, x, y):
    return x,y

In [52]:
moon_sun(x=2,y=2)

(2, 2)

In [55]:
#기본값 주기 : 근데 뒤에서 부터 채워야 한다 앞에꺼부터하면 안댐 왜냐 규칙이지뭐
def moon_sun(x,y=3):
    return x,y

In [56]:
import pandas as pd

In [57]:
pd.read_csv # 쉬프트탭 눌러봐라 개많은데 앞에는 = 업다 이거는 무조건 입력해야하는거다 이런거임

<function pandas.io.parsers._make_parser_function.<locals>.parser_f(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)>

In [59]:
def moon_sun(x):
    return x

In [61]:
a = input('xxx:')
moon_sun(a or 23)

xxx:biarge

'biarge'

In [62]:
#packing
1,_,_=2,3,2

SyntaxError: can't assign to literal (<ipython-input-62-a3fab9249c96>, line 2)

In [63]:
1,_,_=(2,3,2)

SyntaxError: can't assign to literal (<ipython-input-63-dc8bac2a514b>, line 1)

In [64]:
x,_,_ = 2,3,2

In [65]:
x

2

In [66]:
_

2

In [67]:
_ # : 보니깐 계산이 왼쪽에서 오른쪽으로 간다..

2

In [68]:
#파이썬에서 관례상 _는 불필요한 값을 취한다

In [69]:
def moon_sun(x, *z):
    return x,z

In [70]:
moon_sun(1,23,2,3,2)

(1, (23, 2, 3, 2))

In [72]:
moon_sun(1,(23,2,3,2))

(1, ((23, 2, 3, 2),))

In [73]:
moon_sun(1,*(23,2,3,2))

(1, (23, 2, 3, 2))

In [74]:
#컨테이너 : 다양한 종류의 자료형을 담을 수 있는거 : List, tuple, set, dict, prozenset
#이중에 set, prozenset, dict은 컨테이너지만 시퀀스가 아님

In [76]:
moon_sun(1,*[23,23,2])

(1, (23, 23, 2))

In [77]:
moon_sun(1,*{23,2,3,2})

(1, (2, 3, 23))

In [ ]:
list(1,2,3) #ㅇ거 투풀로 안들어간다 쉼표가 우선순위가 더 높아서 인자로 인식하기떄문 오류남

In [83]:
def moon_sun(x,**z):
    if 'a' in z: # in : 멤버십 연산자
        print(z['a'])
    return x, z

In [84]:
moon_sun(1,a=2,y=3) # dict로 들어감. {} 는 dict 셋은 아마 () 리스트 []

2

(1, {'a': 2, 'y': 3})

In [87]:
moon_sun(1,b = 2,y=3)

(1, {'b': 2, 'y': 3})

In [ ]:
list #shift tab 해보면 *나오고 **나온다

In [88]:
def moon_sun(x, **y, *z): # *가 **보다 무조건 먼저 나와라
    return x,y,z

SyntaxError: invalid syntax (<ipython-input-88-1ac85b39fa5b>, line 1)

In [89]:
def moon_sun(x, *y, **z): # *가 **보다 무조건 먼저 나와라
    return x,y,z

In [92]:
moon_sun(1,*"aaaaa")

(1, ('a', 'a', 'a', 'a', 'a'), {})

In [93]:
moon_sun(1,y=[3,4,2,34],z={1:'3'})

(1, (), {'y': [3, 4, 2, 34], 'z': {1: '3'}})

In [96]:
x = {1:'a',2:'b'}
y = {2:'c',3:'d'}

In [97]:
z = {**x} #무슨 x를 풀어헤친다는데 mutable로.. x는 dict라서 immutable이라나

In [98]:
z

{1: 'a', 2: 'b'}

In [99]:
z = {**x, **y}

In [100]:
z

{1: 'a', 2: 'c', 3: 'd'}

In [104]:
def moon_sun(**z):
    return z

In [106]:
moon_sun(**{1:'3'})

TypeError: moon_sun() keywords must be strings

In [119]:
def isSequence(x) :
    if type(x) in [list,tuple,range]:
        return 'True'
print(isSequence([1,2]))

True

In [121]:
def isSequence(x) :
    if isinstance(x, (list,tuple,range)):
        print('xx')
isSequence([1,2])

xx

In [122]:
# hasattr 이거 쓰면 된단다 시퀀스인지 아닌지..

In [123]:
# first class function, high order function

In [124]:
#### 무슨 데이터가져오기

In [125]:
import seaborn as sns

In [126]:
dir(sns)

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'cm',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'jointplot',
 'kdeplot',
 'light_palette',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'pointplot',
 'rcmod',
 'regplot',
 'regression',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [127]:
##__ : 객체에 포함되있는 스페셜 메소드, 대문자로시작(파스칼방식?) : 클래스..??

In [129]:
data = sns.load_dataset('tips') #깃에서 갖고옴

In [130]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [131]:
type(data)

pandas.core.frame.DataFrame

In [132]:
dir(data) #파이썬 접근제한자가 없단다 _가 한단다

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_compare_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [136]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [137]:
data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [138]:
data.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [139]:
 import inspect

In [140]:
inspect.getsource(sns.load_dataset)

'def load_dataset(name, cache=True, data_home=None, **kws):\n    """Load a dataset from the online repository (requires internet).\n\n    Parameters\n    ----------\n    name : str\n        Name of the dataset (`name`.csv on\n        https://github.com/mwaskom/seaborn-data).  You can obtain list of\n        available datasets using :func:`get_dataset_names`\n    cache : boolean, optional\n        If True, then cache data locally and use the cache on subsequent calls\n    data_home : string, optional\n        The directory in which to cache data. By default, uses ~/seaborn-data/\n    kws : dict, optional\n        Passed to pandas.read_csv\n\n    """\n    path = ("https://raw.githubusercontent.com/"\n            "mwaskom/seaborn-data/master/{}.csv")\n    full_path = path.format(name)\n\n    if cache:\n        cache_path = os.path.join(get_data_home(data_home),\n                                  os.path.basename(full_path))\n        if not os.path.exists(cache_path):\n            urlretrieve(full_path, cache_path)\n        full_path = cache_path\n\n    df = pd.read_csv(full_path, **kws)\n    if df.iloc[-1].isnull().all():\n        df = df.iloc[:-1]\n\n    if not pandas_has_categoricals:\n        return df\n\n    # Set some columns as a categorical type with ordered levels\n\n    if name == "tips":\n        df["day"] = pd.Categorical(df["day"], ["Thur", "Fri", "Sat", "Sun"])\n        df["sex"] = pd.Categorical(df["sex"], ["Male", "Female"])\n        df["time"] = pd.Categorical(df["time"], ["Lunch", "Dinner"])\n        df["smoker"] = pd.Categorical(df["smoker"], ["Yes", "No"])\n\n    if name == "flights":\n        df["month"] = pd.Categorical(df["month"], df.month.unique())\n\n    if name == "exercise":\n        df["time"] = pd.Categorical(df["time"], ["1 min", "15 min", "30 min"])\n        df["kind"] = pd.Categorical(df["kind"], ["rest", "walking", "running"])\n        df["diet"] = pd.Categorical(df["diet"], ["no fat", "low fat"])\n\n    if name == "titanic":\n        df["class"] = pd.Categorical(df["class"], ["First", "Second", "Third"])\n        df["deck"] = pd.Categorical(df["deck"], list("ABCDEFG"))\n\n    return df\n'

In [141]:
 #-------------------------------------

In [142]:
#library documentation -- Library Reference, 자습서

In [143]:
#-----------------------------------Functional Programming

In [149]:
a = []
for i in range(1,11):
    a.append(i)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [155]:
[x for x in range(1,11) if x%2 ==0]

[2, 4, 6, 8, 10]

In [156]:
[range(1,11)]

[range(1, 11)]

In [159]:
list(range(1,11)) #f(g(x)) 형태

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [162]:
print('문근영'.replace('영','영은 예쁘다').replace)

<built-in method replace of str object at 0x000002AB1D20D630>

In [170]:
'문근영'.replace('영','영은 예쁘다')

'문근영은 예쁘다'

In [165]:
#함수형 3가지 : 맵, 필터, 리듀스 (R에서 apply)

In [167]:
sum(list(range(1,11)))

55

# Map

In [172]:
# 람다는 expression, 식
list(map(lambda x:x+2,range(1,11)))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [173]:
# iterable :

In [179]:
list(map(lambda x:x+2,"sdf")) #iterable인데 안된다 왜냐 덧셈이 안되서 라네

TypeError: must be str, not int

In [181]:
list(map(lambda x:x+2,(1,2,3))) #iterable 이니깐, 덧셈 되니깐..

[3, 4, 5]

In [184]:
(1,2,3)+(2,)

(1, 2, 3, 2)

In [188]:
set(map(lambda x:x+2,{1,2,3})) #iterable 이니깐, 덧셈 되니깐.. set 은 {} : 인듯?, dict는 뭐였지??? {}이긴한데 key:value

{3, 4, 5}

In [189]:
#map, filter, reduce는 high-order function, reduce는 다른 라이브러리로 들어감

In [190]:
def add_two(x):
    return x+2

In [191]:
list(map(add_two, {1,2,3}))

[3, 4, 5]

In [194]:
list(filter(lambda x:x>3,[1,2,3,4,5,6])) #필터 : 없애주는거,

[4, 5, 6]

In [195]:
all([" ",[],(),{}]) #all : 전부 참이면 True... 공백 " " False

False

In [195]:
all(["",[],(),{}])

False

In [196]:
bool([])

False

In [198]:
sorted([1,3,2])

[1, 2, 3]

In [206]:
sorted(['A','B','a'])

['A', 'B', 'a']

In [207]:
sorted(['A','B','a'],key=str.upper)

['A', 'a', 'B']

In [208]:
a = enumerate([1,2,3])

In [210]:
a

In [211]:
b = (x for x in range(10))

In [212]:
b

In [213]:
def a():
    return [1,2,3,4,5]

In [215]:
xx = a()

In [216]:
dir(xx)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [217]:
type(xx)

list

In [218]:
for a in a():
    print(a)

1
2
3
4
5

In [220]:
dir(enumerate) #__iter__ 있으니깐 iterable이란거란다, dir(map), dir(filter)도 다 있다

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [223]:
b = (x for x in range(10))

In [224]:
b

In [226]:
for i in b:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [227]:
# 레인지? 이너? 하나씩하나씩올리는거? 한방에 올리는거? 앞에껀 속도느린데 메모리여유있고 뒤에껀반대

In [233]:
a = enumerate([1,2,3])
for i in a:
    print(i)

(0, 1)
(1, 2)
(2, 3)

In [232]:
for i,j in enumerate(range(3,11),1):
    print(i,j)
#enumerate는 앞에 인덱스를 두는거란다 투플로 두나,,?

1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10

In [235]:
for i in map(lambda x:x+1,range(10)):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [236]:
#내부적으로 도는거 보기 : python tutor

In [237]:
a = 3
b = 4 if a > 1 else 5

In [238]:
b

4

In [239]:
#이거하고 comprehension하고 합친단다 컴프리헨션이 뭐야?

In [242]:
c = [x for x in range(10) if x > 5]

In [243]:
c

[6, 7, 8, 9]

In [244]:
c = [x if x>5 else "" for x in range(10)]

In [248]:
list(filter(lambda x: x!="",c))

[6, 7, 8, 9]

In [247]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end=" ")
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [252]:
d = [(a,x,a*x) for a in range(2,10) for x in range(1,10)]

In [253]:
d

[(2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [255]:
d = [(x, a, x*a) for x in range(1,10) if x%2==1 for a in range(1,9)]

In [256]:
d

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72)]

In [258]:
[(a, b, c) for a in range(1,11) for b in range(1,11) for c in range(1,11)]

[(1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 5),
 (1, 1, 6),
 (1, 1, 7),
 (1, 1, 8),
 (1, 1, 9),
 (1, 1, 10),
 (1, 2, 1),
 (1, 2, 2),
 (1, 2, 3),
 (1, 2, 4),
 (1, 2, 5),
 (1, 2, 6),
 (1, 2, 7),
 (1, 2, 8),
 (1, 2, 9),
 (1, 2, 10),
 (1, 3, 1),
 (1, 3, 2),
 (1, 3, 3),
 (1, 3, 4),
 (1, 3, 5),
 (1, 3, 6),
 (1, 3, 7),
 (1, 3, 8),
 (1, 3, 9),
 (1, 3, 10),
 (1, 4, 1),
 (1, 4, 2),
 (1, 4, 3),
 (1, 4, 4),
 (1, 4, 5),
 (1, 4, 6),
 (1, 4, 7),
 (1, 4, 8),
 (1, 4, 9),
 (1, 4, 10),
 (1, 5, 1),
 (1, 5, 2),
 (1, 5, 3),
 (1, 5, 4),
 (1, 5, 5),
 (1, 5, 6),
 (1, 5, 7),
 (1, 5, 8),
 (1, 5, 9),
 (1, 5, 10),
 (1, 6, 1),
 (1, 6, 2),
 (1, 6, 3),
 (1, 6, 4),
 (1, 6, 5),
 (1, 6, 6),
 (1, 6, 7),
 (1, 6, 8),
 (1, 6, 9),
 (1, 6, 10),
 (1, 7, 1),
 (1, 7, 2),
 (1, 7, 3),
 (1, 7, 4),
 (1, 7, 5),
 (1, 7, 6),
 (1, 7, 7),
 (1, 7, 8),
 (1, 7, 9),
 (1, 7, 10),
 (1, 8, 1),
 (1, 8, 2),
 (1, 8, 3),
 (1, 8, 4),
 (1, 8, 5),
 (1, 8, 6),
 (1, 8, 7),
 (1, 8, 8),
 (1, 8, 9),
 (1, 8, 10),
 (1, 9, 1),
 (1, 9, 2),
 (1, 9, 3),
 (1, 9, 4),
 (1, 9, 5),
 (1, 9, 6),
 (1, 9, 7),
 (1, 9, 8),
 (1, 9, 9),
 (1, 9, 10),
 (1, 10, 1),
 (1, 10, 2),
 (1, 10, 3),
 (1, 10, 4),
 (1, 10, 5),
 (1, 10, 6),
 (1, 10, 7),
 (1, 10, 8),
 (1, 10, 9),
 (1, 10, 10),
 (2, 1, 1),
 (2, 1, 2),
 (2, 1, 3),
 (2, 1, 4),
 (2, 1, 5),
 (2, 1, 6),
 (2, 1, 7),
 (2, 1, 8),
 (2, 1, 9),
 (2, 1, 10),
 (2, 2, 1),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 4),
 (2, 2, 5),
 (2, 2, 6),
 (2, 2, 7),
 (2, 2, 8),
 (2, 2, 9),
 (2, 2, 10),
 (2, 3, 1),
 (2, 3, 2),
 (2, 3, 3),
 (2, 3, 4),
 (2, 3, 5),
 (2, 3, 6),
 (2, 3, 7),
 (2, 3, 8),
 (2, 3, 9),
 (2, 3, 10),
 (2, 4, 1),
 (2, 4, 2),
 (2, 4, 3),
 (2, 4, 4),
 (2, 4, 5),
 (2, 4, 6),
 (2, 4, 7),
 (2, 4, 8),
 (2, 4, 9),
 (2, 4, 10),
 (2, 5, 1),
 (2, 5, 2),
 (2, 5, 3),
 (2, 5, 4),
 (2, 5, 5),
 (2, 5, 6),
 (2, 5, 7),
 (2, 5, 8),
 (2, 5, 9),
 (2, 5, 10),
 (2, 6, 1),
 (2, 6, 2),
 (2, 6, 3),
 (2, 6, 4),
 (2, 6, 5),
 (2, 6, 6),
 (2, 6, 7),
 (2, 6, 8),
 (2, 6, 9),
 (2, 6, 10),
 (2, 7, 1),
 (2, 7, 2),
 (2, 7, 3),
 (2, 7, 4),
 (2, 7, 5),
 (2, 7, 6),
 (2, 7, 7),
 (2, 7, 8),
 (2, 7, 9),
 (2, 7, 10),
 (2, 8, 1),
 (2, 8, 2),
 (2, 8, 3),
 (2, 8, 4),
 (2, 8, 5),
 (2, 8, 6),
 (2, 8, 7),
 (2, 8, 8),
 (2, 8, 9),
 (2, 8, 10),
 (2, 9, 1),
 (2, 9, 2),
 (2, 9, 3),
 (2, 9, 4),
 (2, 9, 5),
 (2, 9, 6),
 (2, 9, 7),
 (2, 9, 8),
 (2, 9, 9),
 (2, 9, 10),
 (2, 10, 1),
 (2, 10, 2),
 (2, 10, 3),
 (2, 10, 4),
 (2, 10, 5),
 (2, 10, 6),
 (2, 10, 7),
 (2, 10, 8),
 (2, 10, 9),
 (2, 10, 10),
 (3, 1, 1),
 (3, 1, 2),
 (3, 1, 3),
 (3, 1, 4),
 (3, 1, 5),
 (3, 1, 6),
 (3, 1, 7),
 (3, 1, 8),
 (3, 1, 9),
 (3, 1, 10),
 (3, 2, 1),
 (3, 2, 2),
 (3, 2, 3),
 (3, 2, 4),
 (3, 2, 5),
 (3, 2, 6),
 (3, 2, 7),
 (3, 2, 8),
 (3, 2, 9),
 (3, 2, 10),
 (3, 3, 1),
 (3, 3, 2),
 (3, 3, 3),
 (3, 3, 4),
 (3, 3, 5),
 (3, 3, 6),
 (3, 3, 7),
 (3, 3, 8),
 (3, 3, 9),
 (3, 3, 10),
 (3, 4, 1),
 (3, 4, 2),
 (3, 4, 3),
 (3, 4, 4),
 (3, 4, 5),
 (3, 4, 6),
 (3, 4, 7),
 (3, 4, 8),
 (3, 4, 9),
 (3, 4, 10),
 (3, 5, 1),
 (3, 5, 2),
 (3, 5, 3),
 (3, 5, 4),
 (3, 5, 5),
 (3, 5, 6),
 (3, 5, 7),
 (3, 5, 8),
 (3, 5, 9),
 (3, 5, 10),
 (3, 6, 1),
 (3, 6, 2),
 (3, 6, 3),
 (3, 6, 4),
 (3, 6, 5),
 (3, 6, 6),
 (3, 6, 7),
 (3, 6, 8),
 (3, 6, 9),
 (3, 6, 10),
 (3, 7, 1),
 (3, 7, 2),
 (3, 7, 3),
 (3, 7, 4),
 (3, 7, 5),
 (3, 7, 6),
 (3, 7, 7),
 (3, 7, 8),
 (3, 7, 9),
 (3, 7, 10),
 (3, 8, 1),
 (3, 8, 2),
 (3, 8, 3),
 (3, 8, 4),
 (3, 8, 5),
 (3, 8, 6),
 (3, 8, 7),
 (3, 8, 8),
 (3, 8, 9),
 (3, 8, 10),
 (3, 9, 1),
 (3, 9, 2),
 (3, 9, 3),
 (3, 9, 4),
 (3, 9, 5),
 (3, 9, 6),
 (3, 9, 7),
 (3, 9, 8),
 (3, 9, 9),
 (3, 9, 10),
 (3, 10, 1),
 (3, 10, 2),
 (3, 10, 3),
 (3, 10, 4),
 (3, 10, 5),
 (3, 10, 6),
 (3, 10, 7),
 (3, 10, 8),
 (3, 10, 9),
 (3, 10, 10),
 (4, 1, 1),
 (4, 1, 2),
 (4, 1, 3),
 (4, 1, 4),
 (4, 1, 5),
 (4, 1, 6),
 (4, 1, 7),
 (4, 1, 8),
 (4, 1, 9),
 (4, 1, 10),
 (4, 2, 1),
 (4, 2, 2),
 (4, 2, 3),
 (4, 2, 4),
 (4, 2, 5),
 (4, 2, 6),
 (4, 2, 7),
 (4, 2, 8),
 (4, 2, 9),
 (4, 2, 10),
 (4, 3, 1),
 (4, 3, 2),
 (4, 3, 3),
 (4, 3, 4),
 (4, 3, 5),
 (4, 3, 6),
 (4, 3, 7),
 (4, 3, 8),
 (4, 3, 9),
 (4, 3, 10),
 (4, 4, 1),
 (4, 4, 2),
 (4, 4, 3),
 (4, 4, 4),
 (4, 4, 5),
 (4, 4, 6),
 (4, 4, 7),
 (4, 4, 8),
 (4, 4, 9),
 (4, 4, 10),
 (4, 5, 1),
 (4, 5, 2),
 (4, 5, 3),
 (4, 5, 4),
 (4, 5, 5),
 (4, 5, 6),
 (4, 5, 7),
 (4, 5, 8),
 (4, 5, 9),
 (4, 5, 10),
 (4, 6, 1),
 (4, 6, 2),
 (4, 6, 3),
 (4, 6, 4),
 (4, 6, 5),
 (4, 6, 6),
 (4, 6, 7),
 (4, 6, 8),
 (4, 6, 9),
 (4, 6, 10),
 (4, 7, 1),
 (4, 7, 2),
 (4, 7, 3),
 (4, 7, 4),
 (4, 7, 5),
 (4, 7, 6),
 (4, 7, 7),
 (4, 7, 8),
 (4, 7, 9),
 (4, 7, 10),
 (4, 8, 1),
 (4, 8, 2),
 (4, 8, 3),
 (4, 8, 4),
 (4, 8, 5),
 (4, 8, 6),
 (4, 8, 7),
 (4, 8, 8),
 (4, 8, 9),
 (4, 8, 10),
 (4, 9, 1),
 (4, 9, 2),
 (4, 9, 3),
 (4, 9, 4),
 (4, 9, 5),
 (4, 9, 6),
 (4, 9, 7),
 (4, 9, 8),
 (4, 9, 9),
 (4, 9, 10),
 (4, 10, 1),
 (4, 10, 2),
 (4, 10, 3),
 (4, 10, 4),
 (4, 10, 5),
 (4, 10, 6),
 (4, 10, 7),
 (4, 10, 8),
 (4, 10, 9),
 (4, 10, 10),
 (5, 1, 1),
 (5, 1, 2),
 (5, 1, 3),
 (5, 1, 4),
 (5, 1, 5),
 (5, 1, 6),
 (5, 1, 7),
 (5, 1, 8),
 (5, 1, 9),
 (5, 1, 10),
 (5, 2, 1),
 (5, 2, 2),
 (5, 2, 3),
 (5, 2, 4),
 (5, 2, 5),
 (5, 2, 6),
 (5, 2, 7),
 (5, 2, 8),
 (5, 2, 9),
 (5, 2, 10),
 (5, 3, 1),
 (5, 3, 2),
 (5, 3, 3),
 (5, 3, 4),
 (5, 3, 5),
 (5, 3, 6),
 (5, 3, 7),
 (5, 3, 8),
 (5, 3, 9),
 (5, 3, 10),
 (5, 4, 1),
 (5, 4, 2),
 (5, 4, 3),
 (5, 4, 4),
 (5, 4, 5),
 (5, 4, 6),
 (5, 4, 7),
 (5, 4, 8),
 (5, 4, 9),
 (5, 4, 10),
 (5, 5, 1),
 (5, 5, 2),
 (5, 5, 3),
 (5, 5, 4),
 (5, 5, 5),
 (5, 5, 6),
 (5, 5, 7),
 (5, 5, 8),
 (5, 5, 9),
 (5, 5, 10),
 (5, 6, 1),
 (5, 6, 2),
 (5, 6, 3),
 (5, 6, 4),
 (5, 6, 5),
 (5, 6, 6),
 (5, 6, 7),
 (5, 6, 8),
 (5, 6, 9),
 (5, 6, 10),
 (5, 7, 1),
 (5, 7, 2),
 (5, 7, 3),
 (5, 7, 4),
 (5, 7, 5),
 (5, 7, 6),
 (5, 7, 7),
 (5, 7, 8),
 (5, 7, 9),
 (5, 7, 10),
 (5, 8, 1),
 (5, 8, 2),
 (5, 8, 3),
 (5, 8, 4),
 (5, 8, 5),
 (5, 8, 6),
 (5, 8, 7),
 (5, 8, 8),
 (5, 8, 9),
 (5, 8, 10),
 (5, 9, 1),
 (5, 9, 2),
 (5, 9, 3),
 (5, 9, 4),
 (5, 9, 5),
 (5, 9, 6),
 (5, 9, 7),
 (5, 9, 8),
 (5, 9, 9),
 (5, 9, 10),
 (5, 10, 1),
 (5, 10, 2),
 (5, 10, 3),
 (5, 10, 4),
 (5, 10, 5),
 (5, 10, 6),
 (5, 10, 7),
 (5, 10, 8),
 (5, 10, 9),
 (5, 10, 10),
 (6, 1, 1),
 (6, 1, 2),
 (6, 1, 3),
 (6, 1, 4),
 (6, 1, 5),
 (6, 1, 6),
 (6, 1, 7),
 (6, 1, 8),
 (6, 1, 9),
 (6, 1, 10),
 (6, 2, 1),
 (6, 2, 2),
 (6, 2, 3),
 (6, 2, 4),
 (6, 2, 5),
 (6, 2, 6),
 (6, 2, 7),
 (6, 2, 8),
 (6, 2, 9),
 (6, 2, 10),
 (6, 3, 1),
 (6, 3, 2),
 (6, 3, 3),
 (6, 3, 4),
 (6, 3, 5),
 (6, 3, 6),
 (6, 3, 7),
 (6, 3, 8),
 (6, 3, 9),
 (6, 3, 10),
 (6, 4, 1),
 (6, 4, 2),
 (6, 4, 3),
 (6, 4, 4),
 (6, 4, 5),
 (6, 4, 6),
 (6, 4, 7),
 (6, 4, 8),
 (6, 4, 9),
 (6, 4, 10),
 (6, 5, 1),
 (6, 5, 2),
 (6, 5, 3),
 (6, 5, 4),
 (6, 5, 5),
 (6, 5, 6),
 (6, 5, 7),
 (6, 5, 8),
 (6, 5, 9),
 (6, 5, 10),
 (6, 6, 1),
 (6, 6, 2),
 (6, 6, 3),
 (6, 6, 4),
 (6, 6, 5),
 (6, 6, 6),
 (6, 6, 7),
 (6, 6, 8),
 (6, 6, 9),
 (6, 6, 10),
 (6, 7, 1),
 (6, 7, 2),
 (6, 7, 3),
 (6, 7, 4),
 (6, 7, 5),
 (6, 7, 6),
 (6, 7, 7),
 (6, 7, 8),
 (6, 7, 9),
 (6, 7, 10),
 (6, 8, 1),
 (6, 8, 2),
 (6, 8, 3),
 (6, 8, 4),
 (6, 8, 5),
 (6, 8, 6),
 (6, 8, 7),
 (6, 8, 8),
 (6, 8, 9),
 (6, 8, 10),
 (6, 9, 1),
 (6, 9, 2),
 (6, 9, 3),
 (6, 9, 4),
 (6, 9, 5),
 (6, 9, 6),
 (6, 9, 7),
 (6, 9, 8),
 (6, 9, 9),
 (6, 9, 10),
 (6, 10, 1),
 (6, 10, 2),
 (6, 10, 3),
 (6, 10, 4),
 (6, 10, 5),
 (6, 10, 6),
 (6, 10, 7),
 (6, 10, 8),
 (6, 10, 9),
 (6, 10, 10),
 (7, 1, 1),
 (7, 1, 2),
 (7, 1, 3),
 (7, 1, 4),
 (7, 1, 5),
 (7, 1, 6),
 (7, 1, 7),
 (7, 1, 8),
 (7, 1, 9),
 (7, 1, 10),
 (7, 2, 1),
 (7, 2, 2),
 (7, 2, 3),
 (7, 2, 4),
 (7, 2, 5),
 (7, 2, 6),
 (7, 2, 7),
 (7, 2, 8),
 (7, 2, 9),
 (7, 2, 10),
 (7, 3, 1),
 (7, 3, 2),
 (7, 3, 3),
 (7, 3, 4),
 (7, 3, 5),
 (7, 3, 6),
 (7, 3, 7),
 (7, 3, 8),
 (7, 3, 9),
 (7, 3, 10),
 (7, 4, 1),
 (7, 4, 2),
 (7, 4, 3),
 (7, 4, 4),
 (7, 4, 5),
 (7, 4, 6),
 (7, 4, 7),
 (7, 4, 8),
 (7, 4, 9),
 (7, 4, 10),
 (7, 5, 1),
 (7, 5, 2),
 (7, 5, 3),
 (7, 5, 4),
 (7, 5, 5),
 (7, 5, 6),
 (7, 5, 7),
 (7, 5, 8),
 (7, 5, 9),
 (7, 5, 10),
 (7, 6, 1),
 (7, 6, 2),
 (7, 6, 3),
 (7, 6, 4),
 (7, 6, 5),
 (7, 6, 6),
 (7, 6, 7),
 (7, 6, 8),
 (7, 6, 9),
 (7, 6, 10),
 (7, 7, 1),
 (7, 7, 2),
 (7, 7, 3),
 (7, 7, 4),
 (7, 7, 5),
 (7, 7, 6),
 (7, 7, 7),
 (7, 7, 8),
 (7, 7, 9),
 (7, 7, 10),
 (7, 8, 1),
 (7, 8, 2),
 (7, 8, 3),
 (7, 8, 4),
 (7, 8, 5),
 (7, 8, 6),
 (7, 8, 7),
 (7, 8, 8),
 (7, 8, 9),
 (7, 8, 10),
 (7, 9, 1),
 (7, 9, 2),
 (7, 9, 3),
 (7, 9, 4),
 (7, 9, 5),
 (7, 9, 6),
 (7, 9, 7),
 (7, 9, 8),
 (7, 9, 9),
 (7, 9, 10),
 (7, 10, 1),
 (7, 10, 2),
 (7, 10, 3),
 (7, 10, 4),
 (7, 10, 5),
 (7, 10, 6),
 (7, 10, 7),
 (7, 10, 8),
 (7, 10, 9),
 (7, 10, 10),
 (8, 1, 1),
 (8, 1, 2),
 (8, 1, 3),
 (8, 1, 4),
 (8, 1, 5),
 (8, 1, 6),
 (8, 1, 7),
 (8, 1, 8),
 (8, 1, 9),
 (8, 1, 10),
 (8, 2, 1),
 (8, 2, 2),
 (8, 2, 3),
 (8, 2, 4),
 (8, 2, 5),
 (8, 2, 6),
 (8, 2, 7),
 (8, 2, 8),
 (8, 2, 9),
 (8, 2, 10),
 (8, 3, 1),
 (8, 3, 2),
 (8, 3, 3),
 (8, 3, 4),
 (8, 3, 5),
 (8, 3, 6),
 (8, 3, 7),
 (8, 3, 8),
 (8, 3, 9),
 (8, 3, 10),
 (8, 4, 1),
 (8, 4, 2),
 (8, 4, 3),
 (8, 4, 4),
 (8, 4, 5),
 (8, 4, 6),
 (8, 4, 7),
 (8, 4, 8),
 (8, 4, 9),
 (8, 4, 10),
 (8, 5, 1),
 (8, 5, 2),
 (8, 5, 3),
 (8, 5, 4),
 (8, 5, 5),
 (8, 5, 6),
 (8, 5, 7),
 (8, 5, 8),
 (8, 5, 9),
 (8, 5, 10),
 (8, 6, 1),
 (8, 6, 2),
 (8, 6, 3),
 (8, 6, 4),
 (8, 6, 5),
 (8, 6, 6),
 (8, 6, 7),
 (8, 6, 8),
 (8, 6, 9),
 (8, 6, 10),
 (8, 7, 1),
 (8, 7, 2),
 (8, 7, 3),
 (8, 7, 4),
 (8, 7, 5),
 (8, 7, 6),
 (8, 7, 7),
 (8, 7, 8),
 (8, 7, 9),
 (8, 7, 10),
 (8, 8, 1),
 (8, 8, 2),
 (8, 8, 3),
 (8, 8, 4),
 (8, 8, 5),
 (8, 8, 6),
 (8, 8, 7),
 (8, 8, 8),
 (8, 8, 9),
 (8, 8, 10),
 (8, 9, 1),
 (8, 9, 2),
 (8, 9, 3),
 (8, 9, 4),
 (8, 9, 5),
 (8, 9, 6),
 (8, 9, 7),
 (8, 9, 8),
 (8, 9, 9),
 (8, 9, 10),
 (8, 10, 1),
 (8, 10, 2),
 (8, 10, 3),
 (8, 10, 4),
 (8, 10, 5),
 (8, 10, 6),
 (8, 10, 7),
 (8, 10, 8),
 (8, 10, 9),
 (8, 10, 10),
 (9, 1, 1),
 (9, 1, 2),
 (9, 1, 3),
 (9, 1, 4),
 (9, 1, 5),
 (9, 1, 6),
 (9, 1, 7),
 (9, 1, 8),
 (9, 1, 9),
 (9, 1, 10),
 (9, 2, 1),
 (9, 2, 2),
 (9, 2, 3),
 (9, 2, 4),
 (9, 2, 5),
 (9, 2, 6),
 (9, 2, 7),
 (9, 2, 8),
 (9, 2, 9),
 (9, 2, 10),
 (9, 3, 1),
 (9, 3, 2),
 (9, 3, 3),
 (9, 3, 4),
 (9, 3, 5),
 (9, 3, 6),
 (9, 3, 7),
 (9, 3, 8),
 (9, 3, 9),
 (9, 3, 10),
 (9, 4, 1),
 (9, 4, 2),
 (9, 4, 3),
 (9, 4, 4),
 (9, 4, 5),
 (9, 4, 6),
 (9, 4, 7),
 (9, 4, 8),
 (9, 4, 9),
 (9, 4, 10),
 (9, 5, 1),
 (9, 5, 2),
 (9, 5, 3),
 (9, 5, 4),
 (9, 5, 5),
 (9, 5, 6),
 (9, 5, 7),
 (9, 5, 8),
 (9, 5, 9),
 (9, 5, 10),
 (9, 6, 1),
 (9, 6, 2),
 (9, 6, 3),
 (9, 6, 4),
 (9, 6, 5),
 (9, 6, 6),
 (9, 6, 7),
 (9, 6, 8),
 (9, 6, 9),
 (9, 6, 10),
 (9, 7, 1),
 (9, 7, 2),
 (9, 7, 3),
 (9, 7, 4),
 (9, 7, 5),
 (9, 7, 6),
 (9, 7, 7),
 (9, 7, 8),
 (9, 7, 9),
 (9, 7, 10),
 (9, 8, 1),
 (9, 8, 2),
 (9, 8, 3),
 (9, 8, 4),
 (9, 8, 5),
 (9, 8, 6),
 (9, 8, 7),
 (9, 8, 8),
 (9, 8, 9),
 (9, 8, 10),
 (9, 9, 1),
 (9, 9, 2),
 (9, 9, 3),
 (9, 9, 4),
 (9, 9, 5),
 (9, 9, 6),
 (9, 9, 7),
 (9, 9, 8),
 (9, 9, 9),
 (9, 9, 10),
 (9, 10, 1),
 (9, 10, 2),
 (9, 10, 3),
 (9, 10, 4),
 (9, 10, 5),
 (9, 10, 6),
 (9, 10, 7),
 (9, 10, 8),
 (9, 10, 9),
 (9, 10, 10),
 (10, 1, 1),
 (10, 1, 2),
 (10, 1, 3),
 (10, 1, 4),
 (10, 1, 5),
 (10, 1, 6),
 (10, 1, 7),
 (10, 1, 8),
 (10, 1, 9),
 (10, 1, 10),
 (10, 2, 1),
 (10, 2, 2),
 (10, 2, 3),
 (10, 2, 4),
 (10, 2, 5),
 (10, 2, 6),
 (10, 2, 7),
 (10, 2, 8),
 (10, 2, 9),
 (10, 2, 10),
 (10, 3, 1),
 (10, 3, 2),
 (10, 3, 3),
 (10, 3, 4),
 (10, 3, 5),
 (10, 3, 6),
 (10, 3, 7),
 (10, 3, 8),
 (10, 3, 9),
 (10, 3, 10),
 (10, 4, 1),
 (10, 4, 2),
 (10, 4, 3),
 (10, 4, 4),
 (10, 4, 5),
 (10, 4, 6),
 (10, 4, 7),
 (10, 4, 8),
 (10, 4, 9),
 (10, 4, 10),
 (10, 5, 1),
 (10, 5, 2),
 (10, 5, 3),
 (10, 5, 4),
 (10, 5, 5),
 (10, 5, 6),
 (10, 5, 7),
 (10, 5, 8),
 (10, 5, 9),
 (10, 5, 10),
 (10, 6, 1),
 (10, 6, 2),
 (10, 6, 3),
 (10, 6, 4),
 (10, 6, 5),
 (10, 6, 6),
 (10, 6, 7),
 (10, 6, 8),
 (10, 6, 9),
 (10, 6, 10),
 (10, 7, 1),
 (10, 7, 2),
 (10, 7, 3),
 (10, 7, 4),
 (10, 7, 5),
 (10, 7, 6),
 (10, 7, 7),
 (10, 7, 8),
 (10, 7, 9),
 (10, 7, 10),
 (10, 8, 1),
 (10, 8, 2),
 (10, 8, 3),
 (10, 8, 4),
 (10, 8, 5),
 (10, 8, 6),
 (10, 8, 7),
 (10, 8, 8),
 (10, 8, 9),
 (10, 8, 10),
 (10, 9, 1),
 (10, 9, 2),
 (10, 9, 3),
 (10, 9, 4),
 (10, 9, 5),
 (10, 9, 6),
 (10, 9, 7),
 (10, 9, 8),
 (10, 9, 9),
 (10, 9, 10),
 (10, 10, 1),
 (10, 10, 2),
 (10, 10, 3),
 (10, 10, 4),
 (10, 10, 5),
 (10, 10, 6),
 (10, 10, 7),
 (10, 10, 8),
 (10, 10, 9),
 (10, 10, 10)]

# 함수형쓸때 뮤터블 쓰면 안된다 예시

In [264]:
def mutable(x,y=[]):
    y.append(x)
    return y

In [265]:
d = mutable(1)

In [267]:
d

[1]

In [268]:
d = mutable(2)

In [269]:
d

[1, 2]

In [270]:
# 왜이래? : 자기자신이 변할 수 있으므로 디폴트값은 절대로 뮤터블을 쓰면 안된다. 함수형은 상태체크를 안하기 떄문에..?

In [272]:
import time
time.time()

1530770572.7818115

In [273]:
def time_at(time=time.time()):
    return time

In [274]:
time_at()

1530770615.3952699

In [275]:
time.sleep(5)

In [276]:
time_at()

1530770615.3952699

In [277]:
# 파라미터로 고정이 되서 이게 고정이 된단다

In [279]:
def moon(self=None):
    return self

In [280]:
moon()

In [281]:
moon(1)

1

# Scope : LocalEnclosingGlobalBuiltin(LEGB)

In [312]:
x = 1
y = 3
def a():
    #x = 2
    # scope 개념에서 노답인 부분
    # => 여튼 제일 가까운걸로 간다!
    global x
    x += 3
    print('----',x)
    print('----y',y)
    return x

In [300]:
print(a())
print(x)

---- 7
----y 3
7
7

In [301]:
import keyword

In [302]:
list(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### nonlocal이 뭐냐???

In [307]:
#함수안에 함수 선언
x = 1
y = 3
def a():
    x = 3
    def b(x):
        return x
    return b
print(a()(3))
print(x)

3
1

In [317]:
#함수안에 함수 선언
x = 1
y = 3
def a():
    x = 2
    def b():
        nonlocal x
        return x
    x = 2
    return b
print(a()())
print(x)

2
1

In [ ]:
x = "global"