In [1]:
import sqlite3

In [2]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

In [3]:
sqlite3.version #string

'2.6.0'

In [5]:
sqlite3.version_info #tuple

(2, 6, 0)

In [6]:
sqlite3.sqlite_version

'3.21.0'

In [67]:
conn = sqlite3.connect(":memory:")

In [8]:
conn

In [11]:
cur = conn.cursor()

In [13]:
cur.execute('create table people (name_last, age)')

In [20]:
who = "Yeltsin"

In [21]:
age = 72

In [22]:
# 이게 변수에 넣는 qmark 방법 이란다

In [23]:
cur.execute("insert into people values (?, ?)", (who, age)) #아 이래서 투플이구나

In [24]:
cur.execute("select * from people where name_last=:who and age=:age", {"who":who, "age":age})
#이거는 뭐 딕셔너리에 넣는거.. 방법이름 까먹음

In [25]:
cur.fetchone()

('Yeltsin', 72)

In [29]:
sql = "insert into people values (?, ?)"

In [30]:
curData = [('A',1),('B',2),('C',3)]

In [31]:
cur.executemany(sql,curData)

In [32]:
cur.executescript("""
    create table person (
        first_name text primary key,
        last_name text not null
    );
    
    insert into person values('name', 'kim');
""")

In [77]:
cur.execute('select * from person')

In [78]:
print(cur.fetchall())

[('name', 'kim')]

In [81]:
conn = sqlite3.connect("create.db")
print("Opned database successfully")
conn.execute('''
    CREATE TABLE COMPANY (
            ID int primary key not null,
            name text not null,
            age int not null,
            address char(50),
            salary real);
    ''')

print("Table created successfully")

Opned database successfully
Table created successfully

In [80]:
conn.execute('drop table company')

In [82]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
             VALUES (1, 'Paul', 32, 'California', 20000.00)");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (:id, :name, :age, :address, :salary)", {'id':2, 'name':'Allen', 'age':25,'address':'Texas','salary':15000.00});
#data = [(5, 'Teddy', 23, 'Norway', 200000.00), (6, 'Mark', 25,'Rich-Mond',65000.00)]

In [85]:
conn.commit()
cur = conn.cursor()

In [86]:
cur.execute('select * from company')

In [87]:
import sqlite3 as sql

In [88]:
con = None

In [91]:
try:
    con = sql.connect('test.db')
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print('SQLite Version: ', data)
except Exception as e:
    print("Error: ",e)
finally:
    if con:
        con.close()

SQLite Version:  ('3.21.0',)

In [92]:
cars = [
    (1, 'Audi', 52642),
    (2, 'Mercedes', 57127),
    (3, 'Skoda', 9000),
    (4, 'Volvo', 29000),
    (5, 'Bentley',350000),
    (6, 'Hummer', 41400),
    (7, 'Volkswagen', 21600)
]
con = sql.connect('test.db')

with con: #Namescope 
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS Cars")
    cur.execute("CREATE TABLE Cars(Id INT PRIMARY KEY, Name TEXT, Price INT)")
    cur.executemany("INSERT INTO Cars VALUES(?, ?, ?)", cars)

In [93]:
con = sql.connect(':memory:')

with con: #con.close 안해도 됨 
    cur = con.cursor()
    cur.execute("CREATE TABLE Friends(Id INTEGER PRIMARY KEY, Name TEXT);")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Tom');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Rebecca');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Jim');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Robert');")
    
    lid = cur.lastrowid
    print("The last Id of the inserted row is", lid)

The last Id of the inserted row is 4

In [99]:
con = sql.connect('test.db')
with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM Cars")
    
    while True:
        row = cur.fetchone()
        
        if row == None:
            break
        print(row[0], row[1], row[2])

1 Audi 52642
2 Mercedes 57127
3 Skoda 9000
4 Volvo 29000
5 Bentley 350000
6 Hummer 41400
7 Volkswagen 21600

In [101]:
con = sql.connect('test.db')
with con:
    con.row_factory = sql.Row
    cur = con.cursor()
    cur.execute("SELECT * FROM Cars")
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row["Id"], row["Name"], row["Price"])

1 Audi 52642
2 Mercedes 57127
3 Skoda 9000
4 Volvo 29000
5 Bentley 350000
6 Hummer 41400
7 Volkswagen 21600