# Exercise 82: Texi Fare
* 기본요금 4.00, 추가 요금 140미터당 0.25
* 킬로미터로 거리를 받아서 총 요금을 리턴하는 함수 작성
* 힌트는 뭐 잘해라 이런내용

In [5]:
base = 4.00
plus = 0.25
def taxiFare(distance) :
    return base+(distance/0.14)*plus
print(taxiFare(5))
print(taxiFare(1))
print(taxiFare(0.14))
print(taxiFare(0.28))

12.928571428571427
5.785714285714286
4.25
4.5

# Exercise 84: Median of Three Values
* 인자로 3개를 받고, 중앙값을 리턴하라. 중앙값은말야 평균이 아니라 중앙값..

In [27]:
def printMedian(L) :
    L = sorted([1,7,3])
    return L[((len(L))//2) if len(L)%2 == 1 else ((len(L))//2)-1]
print(printMedian([1,7,3]))

3

# Exercise 85: Convert an Integer to its Ordinal Number
* 제목 : 정수를 Ordinal 수로 변환하라
* 단어는 first, second, third 같은 건데 이런게 ordinal number란다
* 정수를 인자로 받아서 그걸 ordinal number로 리턴하라
* 예를들어 1부터 12까지 인자로 받으면 그것의 ordinal number를 출력하는거..
* 이게 다른 프로그램에서 imported 되면 안된다.. 이건 뭐야?

In [10]:
L = {1 : "first", 2 : "second", 3 : "third", 4 : "fourth", 5 : "fifth", 6 : "sixth", 7: "seventh"}
def printOrdinal(a) :
    if 0 < a < 12 :
        return L[a]
    else :
        return ""
print(3, printOrdinal(3))
print(4, printOrdinal(4))
print(13, printOrdinal(13))

3 third
4 fourth
13 땡

# Exercise 88: is it a Valid Triangle?
* 3개의 straws? 다른 길이, 삼각형만들기 끝닿게해서.. 빨대맞네
* 예로 다 6인치면 정삼각형 쉽게만들고 
* 한개만 6인치고 딴건 2인치면 안된다
* 일반적으로 한개가 다른거의 합보다 크면 안된다..
* 이게 되나안되나 확인해주는 함수를 짜라. 인자 3개, boolean return main작성

In [16]:
def isPossibleTri(a, b, c) :
    L = sorted([a, b, c], reverse=True)
    if L[0] > L[1]+L[2] : 
        return False
    else :
        return True
print(isPossibleTri(6,6,6))
print(isPossibleTri(6,2,2))

True
False

# Exercise 92 : is a Number Prime?
* 소수냐? 함수작성..
* 메인 뭐시기

In [30]:
def isPrime(a) :
    for i in range(2, a//2+1) :
        if a % i == 0 :
            return False
    else :
        return True
print(isPrime(2))
print(isPrime(4))
print(isPrime(5))
print(isPrime(31))
print(isPrime(32))
print(isPrime(1297))

True
False
True
True
False
True

# Exercise 86 : The Twelve Days of Christmas
* 12일의 크리스마스..? 반복되는 노래인데 12일동안 각각 진정한 사랑에게 보내는 뭐야이게
* 여튼 벌스를 보면.. 
* on the () day of Christmas \n my true love sent to me: 똑같고
* 마지막에 And a patridge in a pear tree 똑같고.. 뭐야 모르겠는데 뭔지
* 뭔가 이어붙이는거 같은데.. 걍 내맘대로 이어붙이는건가? 일단 해보자
* 인터넷에 가사가 있는데 이걸 여튼 잘 만들어서 하는거 같다. 함수를 이용하라. printOrdinal도 이용하라(7까지만한다)

In [47]:
L = {1 : "first", 2 : "second", 3 : "third", 4 : "fourth", 5 : "fifth", 6 : "sixth", 7: "seventh"}
def printOrdinal(a) :
    if 0 < a < 12 :
        return L[a]
    else :
        return ""
s = 0
Lyrics = {1 : 'A', 2 : 'Two turtle doves\nAnd a', 3: 'Three French hens,', 4: 'Four calling birds,', 5: 'Five gold rings,', 6: 'Six geese a laying,', 7:'Seven swans a swimming,'}
def printLyrics(a) :
    global s
    if a == 8 : 
        return 0
    print('On the ', printOrdinal(a) ,'day of Christmas my true love sent to me')
    print(Lyrics[a],end=" ")
    print('partridge in a pear tree')
    print()
    return printLyrics(a+1)
printLyrics(1)

On the  first day of Christmas my true love sent to me
A partridge in a pear tree

On the  second day of Christmas my true love sent to me
Two turtle doves
And a partridge in a pear tree

On the  third day of Christmas my true love sent to me
Three French hens, partridge in a pear tree

On the  fourth day of Christmas my true love sent to me
Four calling birds, partridge in a pear tree

On the  fifth day of Christmas my true love sent to me
Five gold rings, partridge in a pear tree

On the  sixth day of Christmas my true love sent to me
Six geese a laying, partridge in a pear tree

On the  seventh day of Christmas my true love sent to me
Seven swans a swimming, partridge in a pear tree

0