In [1]:
!pip list

Package                            Version
---------------------------------- ---------
alabaster                          0.7.10
anaconda-client                    1.6.14
anaconda-navigator                 1.8.7
anaconda-project                   0.8.2
asn1crypto                         0.24.0
astroid                            1.6.3
astropy                            3.0.2
attrs                              18.1.0
Babel                              2.5.3
backcall                           0.1.0
backports.shutil-get-terminal-size 1.0.0
beautifulsoup4                     4.6.0
bitarray                           0.8.1
bkcharts                           0.2
blaze                              0.11.3
bleach                             2.1.3
bokeh                              0.12.16
boto                               2.48.0
Bottleneck                         1.2.1
certifi                            2018.4.16
cffi                               1.11.5
chardet                            3.0.4
click                              6.7
cloudpickle                        0.5.3
clyent                             1.2.2
colorama                           0.3.9
comtypes                           1.1.4
conda                              4.5.4
conda-build                        3.10.5
conda-verify                       2.0.0
contextlib2                        0.5.5
cryptography                       2.2.2
cycler                             0.10.0
Cython                             0.28.2
cytoolz                            0.9.0.1
dask                               0.17.5
datashape                          0.5.4
decorator                          4.3.0
distributed                        1.21.8
docutils                           0.14
entrypoints                        0.2.3
et-xmlfile                         1.0.1
fastcache                          1.0.2
filelock                           3.0.4
Flask                              1.0.2
Flask-Cors                         3.0.4
gevent                             1.3.0
glob2                              0.6
greenlet                           0.4.13
h5py                               2.7.1
heapdict                           1.0.0
html5lib                           1.0.1
idna                               2.6
imageio                            2.3.0
imagesize                          1.0.0
ipykernel                          4.8.2
ipython                            6.4.0
ipython-genutils                   0.2.0
ipywidgets                         7.2.1
isort                              4.3.4
itsdangerous                       0.24
jdcal                              1.4
jedi                               0.12.0
Jinja2                             2.10
jsonschema                         2.6.0
jupyter                            1.0.0
jupyter-client                     5.2.3
jupyter-console                    5.2.0
jupyter-core                       4.4.0
jupyterlab                         0.32.1
jupyterlab-launcher                0.10.5
kiwisolver                         1.0.1
lazy-object-proxy                  1.3.1
llvmlite                           0.23.1
locket                             0.2.0
lxml                               4.2.1
MarkupSafe                         1.0
matplotlib                         2.2.2
mccabe                             0.6.1
menuinst                           1.4.14
mistune                            0.8.3
mkl-fft                            1.0.0
mkl-random                         1.0.1
more-itertools                     4.1.0
mpmath                             1.0.0
msgpack-python                     0.5.6
multipledispatch                   0.5.0
navigator-updater                  0.2.1
nbconvert                          5.3.1
nbformat                           4.4.0
networkx                           2.1
nltk                               3.3
nose                               1.3.7
notebook                           5.5.0
numba                              0.38.0
numexpr                            2.6.5
numpy                              1.14.3
numpydoc                           0.8.0
odo                                0.5.1
olefile                            0.45.1
openpyxl                           2.5.3
packaging                          17.1
pandas                             0.23.0
pandocfilters                      1.4.2
parso                              0.2.0
partd                              0.3.8
path.py                            11.0.1
pathlib2                           2.3.2
patsy                              0.5.0
pep8                               1.7.1
pickleshare                        0.7.4
Pillow                             5.1.0
pip                                10.0.1
pkginfo                            1.4.2
pluggy                             0.6.0
ply                                3.11
prompt-toolkit                     1.0.15
psutil                             5.4.5
py                                 1.5.3
pycodestyle                        2.4.0
pycosat                            0.6.3
pycparser                          2.18
pycrypto                           2.6.1
pycurl                             7.43.0.1
pyflakes                           1.6.0
Pygments                           2.2.0
pylint                             1.8.4
pyodbc                             4.0.23
pyOpenSSL                          18.0.0
pyparsing                          2.2.0
PySocks                            1.6.8
pytest                             3.5.1
pytest-arraydiff                   0.2
pytest-astropy                     0.3.0
pytest-doctestplus                 0.1.3
pytest-openfiles                   0.3.0
pytest-remotedata                  0.2.1
python-dateutil                    2.7.3
pytz                               2018.4
PyWavelets                         0.5.2
pywin32                            223
pywinpty                           0.5.1
PyYAML                             3.12
pyzmq                              17.0.0
QtAwesome                          0.4.4
qtconsole                          4.3.1
QtPy                               1.4.1
requests                           2.18.4
rope                               0.10.7
ruamel-yaml                        0.15.35
scikit-image                       0.13.1
scikit-learn                       0.19.1
scipy                              1.1.0
seaborn                            0.8.1
Send2Trash                         1.5.0
setuptools                         39.1.0
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
six                                1.11.0
snowballstemmer                    1.2.1
sortedcollections                  0.6.1
sortedcontainers                   1.5.10
Sphinx                             1.7.4
sphinxcontrib-websupport           1.0.1
spyder                             3.2.8
SQLAlchemy                         1.2.7
statsmodels                        0.9.0
sympy                              1.1.1
tables                             3.4.3
tblib                              1.3.2
terminado                          0.8.1
testpath                           0.3.1
toolz                              0.9.0
tornado                            5.0.2
traitlets                          4.3.2
typing                             3.6.4
unicodecsv                         0.14.1
urllib3                            1.22
wcwidth                            0.1.7
webencodings                       0.5.1
Werkzeug                           0.14.1
wheel                              0.31.1
widgetsnbextension                 3.2.1
win-inet-pton                      1.0.1
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.10.11
xlrd                               1.1.0
XlsxWriter                         1.0.4
xlwings                            0.11.8
xlwt                               1.3.0
zict                               0.1.3

In [2]:
import sqlalchemy

In [3]:
sqlalchemy.__version__

'1.2.7'

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine("sqlite://", echo = True)

In [6]:
print(engine)

Engine(sqlite://)

In [7]:
from sqlalchemy import MetaData

In [8]:
metadata = MetaData()

In [9]:
print(metadata)

MetaData(bind=None)

In [10]:
from sqlalchemy import Table, Column, Integer, String, ForeignKey

In [11]:
users = Table('users', metadata, Column('id', Integer, primary_key=True),  
            Column('name',String),  
            Column('fullname',String))

In [12]:
print(users)

users

In [13]:
addresses = Table('addresses', metadata, Column('id', Integer, primary_key=True),
               Column('user_id',None, ForeignKey('users.id')),
               Column('email_address',String, nullable=False)
)

In [14]:
print(addresses)

addresses

In [15]:
metadata.create_all(engine)

2018-07-10 14:24:02,937 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 14:24:02,938 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 14:24:02,941 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 14:24:02,942 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 14:24:02,944 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 14:24:02,945 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 14:24:02,947 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-10 14:24:02,948 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 14:24:02,950 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 14:24:02,952 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 14:24:02,953 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 14:24:02,955 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-10 14:24:02,956 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 14:24:02,957 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
insert = users.insert()

In [17]:
print(insert)

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [18]:
insert = users.insert().values(name='kim', fullname='Anonymous, Kim')

In [19]:
print(insert)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [20]:
insert.compile().params

{'name': 'kim', 'fullname': 'Anonymous, Kim'}

In [21]:
conn = engine.connect()

In [22]:
conn

In [23]:
insert.bind = engine

In [24]:
str(insert)

'INSERT INTO users (name, fullname) VALUES (?, ?)'

In [25]:
result = conn.execute(insert)

2018-07-10 14:24:08,443 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 14:24:08,444 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')
2018-07-10 14:24:08,446 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
result.inserted_primary_key

[1]

In [27]:
insert = users.insert()

In [28]:
result = conn.execute(insert, name="lee", fullname="Unknown, Lee")

2018-07-10 14:24:09,729 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 14:24:09,730 INFO sqlalchemy.engine.base.Engine ('lee', 'Unknown, Lee')
2018-07-10 14:24:09,731 INFO sqlalchemy.engine.base.Engine COMMIT

In [29]:
result.inserted_primary_key

[2]

In [30]:
conn.execute(addresses.insert(), [  
    {"user_id":1, "email_address":"anonymous.kim@test.com"},
    {"user_id":2, "email_address":"unknown.lee@test.com"}
])

2018-07-10 14:24:11,082 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2018-07-10 14:24:11,083 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'unknown.lee@test.com'))
2018-07-10 14:24:11,085 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
from sqlalchemy.sql import select

In [32]:
query = select([users])

In [33]:
result = conn.execute(query)

2018-07-10 14:24:52,675 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 14:24:52,676 INFO sqlalchemy.engine.base.Engine ()

In [34]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')
(2, 'lee', 'Unknown, Lee')

In [36]:
result = conn.execute(select([users.c.name, users.c.fullname]))

2018-07-10 14:25:35,624 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2018-07-10 14:25:35,625 INFO sqlalchemy.engine.base.Engine ()

In [37]:
for row in result:
    print(row)

('kim', 'Anonymous, Kim')
('lee', 'Unknown, Lee')

In [38]:
result = conn.execute(query)

2018-07-10 14:26:04,497 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 14:26:04,498 INFO sqlalchemy.engine.base.Engine ()

In [39]:
row = result.fetchone()

In [40]:
print("id -", row["id"], ", name -",row["name"], ", fullname -", row["fullname"])

id - 1 , name - kim , fullname - Anonymous, Kim

In [41]:
row = result.fetchone()

In [42]:
print("id -", row[0], ", name -",row[1], ", fullname -",row[2])

id - 2 , name - lee , fullname - Unknown, Lee

In [43]:
result = conn.execute(query)

2018-07-10 14:27:56,001 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 14:27:56,002 INFO sqlalchemy.engine.base.Engine ()

In [44]:
rows = result.fetchall()

In [45]:
for row in rows:
    print("id-", row[0], ", name -", row[1], ", fullname -", row[2])

id- 1 , name - kim , fullname - Anonymous, Kim
id- 2 , name - lee , fullname - Unknown, Lee

In [46]:
result.close()

In [47]:
from sqlalchemy import and_, or_, not_

In [48]:
print(users.c.id == addresses.c.user_id)

users.id = addresses.user_id

In [49]:
print(users.c.id == 1)

users.id = :id_1

In [52]:
orStr = or_(users.c.id == addresses.c.user_id, users.c.id == 1)

In [53]:
print(orStr)

users.id = addresses.user_id OR users.id = :id_1

In [57]:
print((users.c.id==addresses.c.user_id) | (users.c.id==1))

users.id = addresses.user_id OR users.id = :id_1

In [58]:
artist = Table("Artist", metadata, 
               Column("id",Integer,primary_key=True),
               Column("name", String, nullable=False))
album = Table("Album", metadata,
             Column("id", Integer, primary_key=True),
             Column("title", String, nullable=False),
             Column("artist_id", Integer, ForeignKey("Artist.id")))
genre = Table("Genre", metadata, 
               Column("id",Integer,primary_key=True),
               Column("name", String, nullable=False))
track = Table("Track", metadata,
             Column("id", Integer, primary_key=True),
             Column("title", String, nullable=False),
             Column("length", Integer, nullable=False), 
             Column("rating", Integer, nullable=False),
             Column("count", Integer, nullable=False),
             Column("album_id",Integer,ForeignKey("Album.id")),
             Column("genre_id",Integer,ForeignKey("Genre.id")))
metadata.create_all(engine)

2018-07-10 15:21:03,978 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 15:21:03,982 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:03,985 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-10 15:21:03,986 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:03,987 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 15:21:03,988 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:03,989 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 15:21:03,990 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:03,991 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 15:21:03,992 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:03,994 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 15:21:03,995 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:03,997 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 15:21:03,998 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:04,000 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:21:04,002 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 15:21:04,003 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:04,004 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:21:04,005 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 15:21:04,006 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:04,007 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:21:04,009 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 15:21:04,010 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:21:04,011 INFO sqlalchemy.engine.base.Engine COMMIT

In [59]:
for row in metadata.tables:
    print(row)

users
addresses
Artist
Album
Genre
Track

In [60]:
users.drop(engine)

2018-07-10 15:24:35,751 INFO sqlalchemy.engine.base.Engine
DROP TABLE users
2018-07-10 15:24:35,752 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:24:35,754 INFO sqlalchemy.engine.base.Engine COMMIT

In [62]:
addresses.drop(engine)

2018-07-10 15:24:51,800 INFO sqlalchemy.engine.base.Engine
DROP TABLE addresses
2018-07-10 15:24:51,801 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:24:51,803 INFO sqlalchemy.engine.base.Engine COMMIT

In [63]:
conn.execute(artist.insert(), [
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}
])
conn.execute(album.insert(), [
    {"title":"IV", "artist_id":1},
    {"title":"Who Made Who","artist_id":2}
])
conn.execute(genre.insert(), [
    {"name":"Rock"},
    {"name":"Metal"}
])
conn.execute(track.insert(), [
    {"title":"Black Dog", "rating":5,"length":123,"count":0,"album_id":1,"genre_id":1},
    {"title":"Stairway", "rating":5,"length":123,"count":0,"album_id":1,"genre_id":2},
    {"title":"About to rock", "rating":5,"length":123,"count":0,"album_id":2,"genre_id":1},
    {"title":"Who Made Who", "rating":5,"length":123,"count":0,"album_id":2,"genre_id":2},
])

2018-07-10 15:32:03,059 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 15:32:03,060 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-10 15:32:03,062 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:32:03,064 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-10 15:32:03,065 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2018-07-10 15:32:03,067 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:32:03,068 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 15:32:03,070 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-10 15:32:03,071 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:32:03,073 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-10 15:32:03,074 INFO sqlalchemy.engine.base.Engine (('Black Dog', 123, 5, 0, 1, 1), ('Stairway', 123, 5, 0, 1, 2), ('About to rock', 123, 5, 0, 2, 1), ('Who Made Who', 123, 5, 0, 2, 2))
2018-07-10 15:32:03,076 INFO sqlalchemy.engine.base.Engine COMMIT

In [64]:
result = conn.execute(artist.select())
for row in result:
    print(row)

2018-07-10 15:35:16,593 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2018-07-10 15:35:16,595 INFO sqlalchemy.engine.base.Engine ()
(1, 'Led Zepplin')
(2, 'AC/DC')

In [75]:
result = conn.execute(select([track])
                     .where(
                        and_(
                            track.c.album_id==1,
                            or_(
                                track.c.genre_id==1,
                                track.c.genre_id==2
                            )
                        )
                     ))
for row in result:
    print(row)

2018-07-10 15:45:48,566 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2018-07-10 15:45:48,567 INFO sqlalchemy.engine.base.Engine (1, 1, 2)
(1, 'Black Dog', 123, 5, 0, 1, 1)
(2, 'Stairway', 123, 5, 0, 1, 2)

In [67]:
from sqlalchemy import update

In [74]:
conn.execute(track.update().values(genre_id=1).where(track.c.genre_id==3))

2018-07-10 15:45:47,334 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".genre_id = ?
2018-07-10 15:45:47,335 INFO sqlalchemy.engine.base.Engine (1, 3)
2018-07-10 15:45:47,336 INFO sqlalchemy.engine.base.Engine COMMIT

In [76]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [78]:
result = conn.execute(track.select().select_from(track.join(album)))

for row in result:
    print(row)

2018-07-10 15:48:08,144 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-10 15:48:08,145 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 123, 5, 0, 1, 1)
(2, 'Stairway', 123, 5, 0, 1, 2)
(3, 'About to rock', 123, 5, 0, 2, 1)
(4, 'Who Made Who', 123, 5, 0, 2, 2)

In [81]:
result = conn.execute(select([track.c.title, album.c.title]).select_from(track.join(album)))

2018-07-10 15:50:39,465 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-10 15:50:39,466 INFO sqlalchemy.engine.base.Engine ()

In [82]:
print(track.join(album).join(genre))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [83]:
print(track.join(album).join(genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [87]:
result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name]).select_from(track.join(album).join(genre).join(artist))
                     .where(
                         and_(
                             genre.c.id == 1,
                             artist.c.name.like("%pp%"))))

for row in result:
    print(row)

2018-07-10 16:20:17,625 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".name LIKE ?
2018-07-10 16:20:17,626 INFO sqlalchemy.engine.base.Engine (1, '%pp%')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')